<div class="crm-container">
  <div class="help">
    <p>{{ ts('Add a short help text here?') }}</p>
  </div>

  <div id="crm-i18n-download">
    <a id="crm-i18n-download-link" href="{{ crmExportUrl }}"><i class="fa fa-download"></i> {{ ts('Download') }}</a>
    <div>
      <label data-ng-repeat="(key, val) in availableExportFormats" ng-class="{activeformat : format == key}"><input
        type="radio" name="format"
        value="{{key}}"
        ng-model="$parent.format"
        ng-change="updateExportFormat()">{{val}}</label>
    </div>
  </div>

  <form id="crm-i18n-explorer">
    <div class="crm-section">
      <div class="label">{{ ts('Languages:') }}</div>
      <div class="content">
        <span ng-repeat="(key, val) in enabled_languages">
          <label><input type="checkbox" ng-model="languages[key]" ng-true-value="'{{key}}'" ng-false-value="''"> {{val}}</label>
        </span>
      </div>
    </div>
    <div class="crm-section">
      <!-- FIXME should use variable from scope -->
      <div class="label"><label>{{ ts('Entity:') }}</label></div>
      <div class="content">
        <select class="crm-form-select big" id="crm-i18n-entity" name="crm-i18n-stringtype" ng-model="entity" ng-change="search()">
          <option value="">{{ ts('- select -') }}</option>
          <option value="all">{{ ts('- all -') }}</option>
          <option value="ContributionPage">{{ ts('Contribution Pages') }}</option>
          <option value="Event">{{ ts('Event Pages') }}</option>
          <option value="CustomGroup">{{ ts('Custom Groups') }}</options>
          <option value="CustomField">{{ ts('Custom Fields') }}</options>
          <option value="OptionGroup">{{ ts('Option Groups') }}</options>
          <option value="OptionValue">{{ ts('Option Values') }}</options>
          <option value="Group">{{ ts('Groups') }}</options>
          <option value="UFField">{{ ts('Profile fields') }}</options>
          <option value="UFGroup">{{ ts('Profile groups') }}</options>
        </select>
      </div>
    </div>
    <div class="crm-section" style="display: none;"> <!-- NOT IMPLEMENTED TODO -->
      <div class="label"><label>{{ ts('Search string:') }}</label></div>
      <div class="content">
        <input
          type="text" class="crm-form-text"
          ng-model="stringtext"
          ng-change="search()"
          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
        /> (not implemented yet)
      </div>
    </div>
  </form>

  <div id="crm-i18n-searchresults" class="blockUI" style="min-height: 300px; width: 100%;">
    <table id="crm-i18n-searchresults-table" class="display" width="100%"></table>
  </div>
</div>
